.container__inicio{
    margin: 0 2.8125rem 0 2.8125rem;
    
}
.container__background{
    background-color: #ECEDEF;
}
.accordion{
    width: 100%;
}
.item{
    border-bottom: 1px solid #000000;
}
.title{
    background-color: #ffffff;
    height: 60px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content{
    background-color: #ffffff;
    max-height: 0;
    overflow: hidden;
    transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.25s ease-out;
   
}
.content.show{ 
    max-height: 100%;
   
    transform: scaleY(1);    

}
h6{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    transition-property: font-weight;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
}
.accordion__title{
    display: flex;
    align-items: center;
}
.accordion__active{
    font-weight: 600;
 
}
.accordion__images{
    width: 1.563rem;
     height: 1.563rem;
     margin-right: 0.75rem;
     margin-left: 1.5rem;
}
